@using TravelProject.Models.Siniflar
@model List<Blog>
<div class="padding1">
    <h4>En Beğendiğim Yerler</h4>
    <div class="box-left">
        @foreach (var k in Model)
        {


            <div class="bot-img">
                <a href="/Blog/BlogDetay/@k.ID"><img src="@k.BlogImage" alt="" style="width:120px;height:80px" /></a>    
            </div>
            <div class="bot-desc">
                <p>@k.Aciklama.Substring(0,75)...</p>
            </div>
            <div class="clear"></div>         
        }
    </div>
    @Html.Action("Partial5","Default")
</div>

